<div class="featureContainer">
  <div class="aboutPanelContainer">
    <mat-expansion-panel class="aboutPanel" expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{authorTitle}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <h2>{{authorName}}</h2>
      <h3>{{authorEmail}}</h3>
    </mat-expansion-panel>

    <mat-expansion-panel class="aboutPanel" expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{descriptionTitle}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <h2>{{descriptionContent}}</h2>
    </mat-expansion-panel>
  </div>
</div>
