<mat-toolbar class="toolBar" color="primary">
  <button routerLink="/dash/about" mat-icon-button>
    <mat-icon>home</mat-icon>
  </button>
  <span>Adresář kontaktů</span>

    <button routerLink="/dash/customers" mat-raised-button class="toolBarButton">Seznam kontaktů <mat-icon>person</mat-icon></button>
    <button routerLink="/dash/table" mat-raised-button class="toolBarButton">Tabulka</button>
    <button routerLink="/dash/tasks" mat-raised-button class="toolBarButton">Úkoly</button>
</mat-toolbar>
<router-outlet></router-outlet>
